.event-details {
    background-color: rgb(128, 128, 128);
}

.table_custom { --bs-table-bg: transparent !important; }

.score {
    font-family: 'Teko', sans-serif;
    color:red!important
}

.awaitingResults {
    font-family: 'Teko', sans-serif;
    color:white!important;
    font-size: 2rem;
}